.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 0.1rem solid black;
    background-color: rgb(236, 231, 231);
}

.footer{
    display: flex;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    width: 67%;
    height: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 2%;
    right: 10%;
    background-color: white;

}

h1{
    position: absolute;
    left: 32%;
    font-size: xx-large;
}

h2{
    display: flex;
    margin-top:5%;
    justify-content: center;
    font-size: 40px;
}

.menu_direita{
    display: flex;
    width: 6rem;
    margin-right: 1.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.menu_esquerda{
    display: flex;
    padding: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.imagens_cabecalho{
    display: flex;
    width: 25px;
    height: 25px;
}

.imagens_footer{
    display: flex;
    width: 30px;
    height: 30px;
}

.etapas{
    font-size: 25px
}