.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 0.1rem solid black;
}

h1{
    position: absolute;
    left: 32%;
    font-size: xx-large;
}

.menu_direita{
    display: flex;
    width: 6rem;
    margin-right: 1.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.menu_esquerda{
    display: flex;
    padding: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.imagens{
    display: flex;
    width: 25px;
    height: 25px;
}