.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 0.1rem solid black;
    background-color: rgb(79, 112, 45);
}

.footer{
    display: flex;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    width: 250px;
    height: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 2%;
    margin-left: calc(50vw - 145px);
    background-color: rgb(118, 179, 57);

}

h1{
    position: absolute;
    width: 100px;
    margin-left: calc(50vw - 50px);
    font-size: xx-large;
    font-family: 'Unna', serif;
}

h2{
    display: flex;
    margin-top:3%;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-decoration: underline;
    font-family: 'Unna', serif;
}

h3{
    font-family: 'Unna', serif;
}

h4{
    font-family: 'Unna', serif;
}

.menu_direita{
    display: flex;
    width: 6rem;
    margin-right: 1.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.menu_esquerda{
    display: flex;
    padding: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.imagens_cabecalho{
    display: flex;
    width: 25px;
    height: 25px;
}

.imagens_footer{
    display: flex;
    width: 30px;
    height: 30px;
}

.lista_noticias{
    display: flex;
    flex-wrap:wrap;
}

.noticia{
    margin: 15px;
}

.clicaveis_noticia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    text-decoration: none;
    color: #000000;
}

.img_noticia{
    border-radius: 15px;
    width: 150px;
    height: 150px;
}


.titulo_noticia{
    font-size:20px;
    font-weight: bold;
}

.paragrafo_noticia{
    margin-top:7px;
    font-family: 'Source Sans Pro', sans-serif;
}

.etapas{
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 5px;
    font-weight:bold ;
    font-family: 'Unna', serif;
}

.texto_etapas{
    margin-right: 15px;
    margin-left: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.coluna{
    display:flex;
    flex-direction: column;
}
.linha{
    display:flex;
    flex-direction: row;
}
.center{
    justify-content: center;
}
.t5{
    border-bottom: .2rem solid #000000;
    padding:2.7rem;
    font-size: 2rem;
}

.tira_sublinhado{
    text-decoration: none;
    color:black;
    font-family: 'Unna', serif;
}

.fs2{
    font-size: 1.3rem;
}

.pbl{
    border: .2rem solid #000000;
    min-width: 2rem;
    min-height: 5rem;
    margin-right: 1.2rem;
    margin-left: 1.2rem;
}
.pbl2{
    border: .2rem solid #000000;
    min-width: 20rem;
    min-height: 10rem;
}
.pbl3{
    border: .2rem solid #000000;
    min-width: 20rem;
    min-height: 3rem;
    font-family: 'Unna', serif;
}
.img{
    width: 10rem;
    height: 10rem;
}
.gap{
    gap:1rem
}
.pbl{
    border: .2rem solid #000000;
}
.pdd{
    padding:8.3rem
}
.pddl{
    padding-right:14rem
}

.topo_comunidade{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.titulo_e_botao{
    gap:10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.barra_publicar{
    margin-left: 7%;
    margin-right: 7%;
}

.lista_publicacoes{
    flex-wrap: wrap;
}

.publicacao{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    gap:5px;
    color: #000000;
}

.botao_perfil_publicacao{
    display: flex;
    flex-direction: row;
    gap:7px;
}

.foto_perfil_publicacao{
    border-radius: 50%;
}

.nome_assunto_publicacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:black;
    text-decoration: none;
}

.nome_publicacao{
    font-weight: bold;
}

.carretel_img_publicacao{
    margin-top:10px;
    margin-bottom:10px;
    padding-left:15%;
    padding-right:15%;
    display: flex;
    justify-content: center;
    gap:15%
}

.img_carretel_publicacao{
    border-radius: 15px;
}

.rodape_publicacao{
    display: flex;
    justify-content: left;
    gap:10px;
}

.botao_comentar_publicacao{
    width: 80%;
}

.assuntos_relacionados{
    margin-left: 25px;
    font-family: 'Source Sans Pro', sans-serif;
}

.topo_perfil{
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    justify-content: left;
    gap:13px;   
}

.nome_perfil{
    font-size: 25px;
}

.foto_perfil{
    border-radius: 50%;
}

.botoes_topo_perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    gap:10px;
}

.descricao_perfil{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap:6px;
}
.preco_market{
    font-size:15px;
    margin-top:7px;
}
.barra_pesquisar_market{
    width: 75vw;
}
.topo_market{
    margin-top: 3%;
    display: flex;
    width: 100vw;
    flex-direction: row;
    border: 0.1rem solid black;
}

.posicao_plus{
    position: relative;
    bottom:2.2rem;
    left: 87%;
}
.fsg{
    font-size: 2rem;
}
.imgg{
    width: 20rem;
    height: 20rem;
    margin-top: 2rem;
}

.fonte_pequena{
    font-family: 'Source Sans Pro', sans-serif;
}

.textos_noticias{
    font-family: 'Source Sans Pro', sans-serif;
}

.assunto_publicacao{
    font-family: 'Source Sans Pro', sans-serif;
}

.texto_puplucacao{
    font-family: 'Source Sans Pro', sans-serif;
}


.area_do_chat{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 166.5px);
}

.digitar_mensagem{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: calc(100vw - 60px);
    border: 0.1rem solid black;
}

.enviada{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.2rem;
}

.balao_msg_enviada{
    background-color:#B34983;
    border: #B34983 0.2rem solid;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.recebida{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.2rem;
}

.balao_msg_recebida{
    background-color:#482861;
    border: #482861 0.2rem solid;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.botao_env{
    position: fixed;
    right: 0px;
    bottom: 0px;
    border: 0.1rem solid rgb(83, 83, 83);
}

.bloco_espaco{
    width: 100vw;
    height: 5rem;
}

